header {
  background: linear-gradient(
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.45)
    ),url(img/image-499666622.jpg);
background-repeat: no-repeat;
height: 800px;
background-size: cover;
}
body {
  font-family: "HelveticaNeueLTStd";
}
header .navbar, .jumbotron {
   background-color: inherit;
   border: inherit;
   margin-top: 40px;
   margin-left: -50px;
}
header .jumbotron, .navbar-default .navbar-nav > li > a {
  color: white;
}
header .jumbotron p > a {
  background-color: #E07338;
  border: inherit;
  width: 200px;
  height: 45px;
}
header .jumbotron p {
  margin-top: 120px;
}
header .jumbotron h1 {
  font-size: 50px;
}
section div {
  padding-top: 30px;
}
header .container h1 {
  opacity: 0.7;
}
.rlc{
  padding: inherit;
}
.row4 {
  padding-top: 150px;
}

#navbar2 ul li a{
  color: black;
}
article .navbar {
   background-color: inherit;
   border: inherit;
}
#navbar2 ul li a span{
  color: #E07338;
}

article .jumbotron {
  background-color: #E07338;
  color: white;
  margin-top: 60px;
  margin-left: -50px;
}
article .jumbotron h1{
  font-size: 31px;
  margin: auto;
}
article .jumbotron p {
  margin-top: 40px;
}
article .jumbotron p a{
  border-radius: 0px;
  border: none;
  background-color: grey;
  filter:opacity(0.6);
}
.rlc2{
  padding: 0px;
}
